{% extends 'user/user_create.html' %}
{% block table %}
        <div class="title-box">
            <h5>商品属性展示</h5>
        </div>
        <div class="form-box">
            <div class="row">
                <div class="col-5">
                    <form action="" method="post">

                        {% for value in values %}
                        <div class="form-group">
                            <label>{{value.property.name}}</label>
                            <input type="text" name="name" class="form-control" value="{{ value.value }}">
                            <small class="form-text text-muted"></small>
                        </div>
                        {% endfor %}

                    </form>
                </div>
            </div>

        </div>
{% endblock %}